body {
    background-image: linear-gradient(to right top, #e1dc49, #e5df71, #e7e294, #e9e4b5, #e9e7d6);
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: antiquewhite;
    cursor: pointer;
}

button:hover {
    background-color: cornsilk;
}

.response-area {
    flex-basis: 70%;
    font-size: 15px;
    font-style: italic;
    line-height: 1.3;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
}

.welmsg {
    align-items: center;
    text-align: center;
    margin-top: 0%;
    padding: 0%;
    font-size: 25px;
}

.title {
    text-align: center;
    margin: 0%;
    padding: 0%;
    font-size: 220%;
    color: black;
}

.title p {
    font-size: 20px;
    text-align: center;
}

form {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

label {
    font-size: 23px;
    color: black;
}

input {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
    width: 80%; /* Adjust the width for full-width input on small screens */
    border-radius: 5px;
}

img {
    height: 130px;
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

@media only screen and (min-width: 600px) {
    /* Add styles for screens larger than 600px (e.g., tablets and larger) */
    .content {
        flex-direction: row; /* Change back to row for larger screens */
    }
}
